<!doctype html>
{% load static %}
<html lang="en">
<!--

Page    : index / ANNOUNCEUS.io
Version : 1.0
Author  : ANNOUNCEUS
URI     : https://ANNOUNCEUS.io

 -->

<head>
    <title>ANNOUNCEUS - The Best Sneaker Cook Group</title>
	 <!-- Favicon  -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ANNOUNCEUS is the only cook group you will ever need.">
    <meta name="keywords" content="ANNOUNCEUS, .io, Cook Group, Cook Sneaker Group">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Main css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- media css or responsive css -->
    <link href="{% static 'css/media.css' %}" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="#home">HOME <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">FEATURES</a> </li>
								<li class="nav-item"> <a class="nav-link" href="#faq">FAQ</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li>
                                {{ form.sandbox }}
                                <li class="nav-item"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U4KRG6FJE9NKY" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">BUY IT NOW</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>THE MOST ADVANCED COOK GROUP YET.</h1>
            <p class="tagline">The one and only Cook Group solution for buying sneakers you'll ever need.</p>
        </div>
        <div class="img-holder mt-3"><img src="{% static 'images/logobigbg-.png' %}" alt="ANNOUNCEUS" class="img-fluid"></div>
    </header>

    <div class="client-logos my-5">
        <div class="container text-center">
            <img src="{% static 'images/sitelogos.png' %}" alt="client logos" class="img-fluid">
        </div>
    </div>

    <div class="section light-bg" id="features">


        <div class="container">

            <div class="section-title">
                <small> HIGHLIGHTS</small>
                <h3>Features you love</h3>
            </div>


            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Simple yet effective</h4>
                                    <p class="card-text">Simple & easy use of our discord server, providing the best support and help around.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Private Discord Server</h4>
                                    <p class="card-text">Learn from the best in the game and become the next big Sneaker head in your town.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Fast and Secure Monitors</h4>
                                    <p class="card-text">ANNOUNCEUS has the Fastest and most Secure monitors you'll ever need.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
	    <!-- // end .section -->
    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>FEATURES</small>
                <h3>Do more with our services</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Monitors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Slots & Carts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Group Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Guidance & Support</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>

                            <h2>Shopify Monitors</h2>
                            <p class="lead">Our discord will provide quality monitors to help with the following. </p>
                            <p>•	200+ Shopify
                            <p>•	SNKRS + SNKRS Sratch
                            <p>•	Supreme
                            <p>•	Adidas
                            <p>•	Funko
                            <p>•	Early Links etc..
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Slots & Carts</h2>
                            <p class="lead">Free and Discounted Slots & Carts.</p>
                            <p>•	Adidas
                            <p>•	Funko
							<p>•	Supreme
                            <p>•	Shopify
							<p>•	Footsites
							<p>•	SNKRS etc..
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Group Buy</h2>
                            <p class="lead">Buy the bots, proxies and other tools you need with our exclusive Group Buy. </p>
                            <p>•	Bots
                            <p>•	Proxies (Data Center & Residential)
							<p>•	Nike Acct Creators
							<p>•	US & UK Nike Accounts.
							<p>•	ect..
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Guidance & Support</h2>
                            <p class="lead">Our discord will support our members by offering guidance and recommendations. </p>
                            <p>•	Site lists
                            <p>•	Server providers
							<p>•	Proxy providers
                            <p>•	Resell predictions
							<p>•	Bot help etc..
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- // end .section -->

        </div>

    </div>
    <!-- // end .section -->

 <div class="section light-bg" id="faq">
    <div class="section pt-0">
        <div class="container">
            <div class="section-title">
                <small>FAQ</small>
                <h3>Frequently Asked Questions</h3>
            </div>

            <div class="row pt-4">
                <div class="col-md-6">
                    <h4 class="mb-3">What sites does ANNOUNCEUS support?</h4>
                    <p class="light-font mb-5">ANNOUNCEUS currently supports most major Shopify sites, Footsites, Nike, Adidas, Supreme and many more. </p>
                    <h4 class="mb-3">How much does ANNOUNCEUS cost?</h4>
                    <p class="light-font mb-5 mb-md-3">ANNOUNCEUS cost only $35 per month.</p>

                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">When is ANNOUNCEUS going to be available?</h4>
                    <p class="light-font mb-5">Availablity will be updated on our Twitter. </p>
                    <h4 class="mb-3">What region does ANNOUNCEUS support?</h4>
                    <p class="light-font mb-xl-5 mb-md-3 mb-3 mb-sm-3">Currently ANNOUNCEUS supports only USA. More regions are expected to be added in the future.</p>

                </div>
            </div>
        </div>

    </div>
    <!-- // end .section -->

    <div class="section bg-gradient">
        <div class="container">
            <div class="call-to-action">
                <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                <h2>JOIN ANNOUNCEUS NOW</h2>
                <p class="tagline">Available on Discord. </p>
                <div class="my-4">

                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U4KRG6FJE9NKY" class="btn btn-light"><img src="{% static 'images/discord-icon.png' %}" alt="icon"> BUY IT NOW </a>
                </div>
                <p class="text-primary"><small><i>Works on any OS. </i></small></p>
            </div>
        </div>

    </div>
    <!-- // end .section -->

    <div class="light-bg py-xl-5 py-md-4 py-4" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> Keep in touch</p>

                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:support@ANNOUNCEUS.io">support@ANNOUNCEUS.io</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="#">Join our Discord</a>
							</p>
							 <p class="mb-0">

					<div class="col-lg-6">
                    <div class="social-icons">

					    </div>
                </div>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="https://twitter.com/announceus"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>

        </div>
                </div>
    <div class="section pt-0">
        <div class="container">
            <div class="section-title">
<a class="twitter-timeline" href="https://twitter.com/announceus?ref_src=twsrc%5Etfw">Success by ANNOUNCEUS </a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                    </div>
    </div>
    <!-- // end .section -->
    <footer class="my-3 my-xl-5 my-md-3 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT © 2018. ALL RIGHTS RESERVED. ANNOUNCEUS.IO
		</p>The services you are viewing is a piece of software designed to help increase your chances of purchasing limited edition sneakers and clothing from numerous websites. By purchasing ANNOUNCEUS you are accepting the terms and conditions, and you also understand that this service does not guarantee your future purchases from the sneaker sites, but it does drastically increase your chances. </small></p>

        <small>
            <a href="#" class="m-2">Terms of Service</a>
			</div>
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>
<script type="text/javascript" src="https://static.leaddyno.com/js"></script>
<script>
  LeadDyno.key = "0fbd979bac2000ef8bea3f7b1f1b0a6422570e27";
  LeadDyno.recordVisit();
  LeadDyno.autoWatch();
  LeadDyno.initPaypal();
</script>
<script type="text/javascript" src="https://static.leaddyno.com/js"></script>

</html>
