{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>CookStart.io - Discord PayPal Activation Bot</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: xx-large;
}
</style>
</head>

<body>

<p class="auto-style2">&nbsp;</p>
<p class="auto-style1"><img alt="" height="82" src="{% static 'images/logonew.png' %}" width="400" /></p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style1">Coming Soon.</p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style1"><strong><a href="https://cookstart.io/dashboard/">
ALREADY GROUP OWNER? CLICK HERE TO LOGIN TO YOUR DASHBOARD</a></strong></p>

</body>

</html>
