

.statusnominal {
    background-color: #EFF18C;
    text-align: center;
    color: aliceblue;
}
.statusrunning {
    background-color: #8ce282;
    text-align: center;
    color: aliceblue;
}
.statuserror {
    background-color: #E48D92;
    text-align: center;
    color: aliceblue;
}

.statusunknown {
    background-color: #bfb8bd;
    text-align: center;
    color: aliceblue;
}