{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ***************** FORM SIGNIN ***************** -->
     <header class="bg-gradient" id="home">
        <div class="img-holder mt-3" style="text-align: center; "><img src="{% static 'images/logonew.png' %}" alt="CookStart.io" class="img-fluid" style="max-width: 50%;"></div>
    </header>

    <form class="form-signin" action="" method="post"> {% csrf_token %}
        <div class="input-lable">
            <h3 class="form-signin-heading">Log In</h3>
        </div>
{#        {{ form.as_p }}#}
        <input class="form-control distance-between-forms" placeholder="Username" type="text" name="{{ form.username.name }}" autofocus required id="id_username" maxlength="254" />
        <input class="form-control" placeholder="Password" type="password" name="{{ form.password.name }}" autofocus required id="id_password" />
        <div>
            <button type="submit" class="btn btn-primary btn-lg" style="background-color: #245580;">Sing In</button>
        </div>
{#        <a class="create-account" href="{% url 'announceusio:in' %}">Exit</a>#}
    </form>
{% endblock %}