/* footer section - start
==================================================================================================== */
.footer-section {
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 30px 60px;
	position: absolute;
	>p {
		font-size: 16px;
	}
}
/* footer section - end
==================================================================================================== */