// default colors - start
// ==================================================
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;
// default colors - end
// ==================================================

// font weight - start
// ==================================================
$fw-bold: 700;
$fw-black: 900;
$fw-regular: 400;
$fw-lightbold: 500;
// font weight - end
// ==================================================

// default colors - start
// ==================================================
$default-color: #7a7f83;
$default-black: #343d46;
// default colors - end
// ==================================================

// custom colors - start
// ==================================================
$pure-white: #ffffff;
$pure-black: #000000;

$deep-gray: #f0f0f0;
$light-gray: #f7f7f7;
$rating-star: #f2b01e;

$twitter: #1da1f2;
$youtube: #ff0000;
$facebook: #3b5998;
$linkedin: #007bb5;
$pinterest: #bd081c;
$google-plus: #db4437;
$instagram-magenta: #c32aa3;
// custom colors - end
// ==================================================

// shadows - start
// ==================================================
$default-shadow: 0px 0px 29px 1px rgba(0,0,0,0.8);
// shadows - end
// ==================================================



// transition - start
// ==================================================
$default-transition: all .3s ease-in-out;
// transition - end
// ==================================================