/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  CookStart
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  18 April 2019
Author 			:  ----------
Developer:		:  Rakibul Islam Dewan
================================================== */
/* table of content - end
==================================================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');

@import "variable";
@import "reset";
@import "header";
@import "footer";

@import "_home.scss";
@import "_breadcrumb.scss";
@import "_responsive.scss";