{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}
     <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card demo-icons">
                    <div class="card-header">
                        <h5 class="card-title">Billing</h5>
                    <form class="billing_settings" action="{% url 'announceusio:billing' %}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div id="div_id_price" class="form-group">
                                                <label for="id_price" class="col-form-label  requiredField">
                                                    Price<span class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="text" name="price" maxlength="20"
                                                           class="textinput textInput form-control" required=""
                                                           id="id_price" value="{{ form.price }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div id="div_id_item_name" class="form-group">
                                                <label for="id_item_name" class="col-form-label  requiredField">
                                                    Item name<span class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="text" name="item_name" maxlength="255"
                                                           class="textinput textInput form-control" required=""
                                                           id="id_item_name" value="{{ form.item_name }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div id="div_id_sub_days" class="form-group">
                                                <label for="id_sub_days" class="col-form-label  requiredField">
                                                    Sub days<span class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="number" name="sub_days"
                                                           class="numberinput form-control" required=""
                                                           id="id_sub_days" value="{{ form.sub_days }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div id="div_id_paypal_email" class="form-group">
                                                <label for="id_paypal_email" class="col-form-label  requiredField">
                                                    Paypal email<span class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="email" name="paypal_email" maxlength="300"
                                                           class="emailinput form-control" required="" id="id_paypal_email"
                                                    value="{{ form.paypal_email }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer left-side">
                            <button id="save_billing" type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>

                    <div class="col-md-2">
                        {{ form_paypal.sandbox}}
                    </div>
                    <div class="col-md-10">
                        <div id="div_id_message_body" class="form-group">
                            <label for="id_message_body" class="col-form-label  requiredField">
                                Copy this code in your website
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <textarea name="message_body" cols="40" rows="40"
                                          class="textarea form-control" required=""
                                          style="max-height: 350px"
                                          id="id_message_body">{{ form_paypal.sandbox}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}