{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card demo-icons">
                    <div class="card-header">
                        <h5 class="card-title">Billing</h5>
                    </div>
                    <form class="billing_settings" action="{% url 'announceusio:billing' %}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <div id="div_id_price" class="form-group">
                                                    <label for="id_price" class="col-form-label  requiredField">
                                                        Price<span class="asteriskField">*</span>
                                                    </label>
                                                    <div class="">
                                                        <input type="text" name="price" maxlength="20"
                                                               class="textinput textInput form-control" required=""
                                                               id="id_price" value="{{ form.price }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <div id="div_id_item_name" class="form-group">
                                                    <label for="id_item_name" class="col-form-label  requiredField">
                                                        Item name<span class="asteriskField">*</span>
                                                    </label>
                                                    <div class="">
                                                        <input type="text" name="item_name" maxlength="255"
                                                               class="textinput textInput form-control" required=""
                                                               id="id_item_name" value="{{ form.item_name }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <div id="div_id_sub_days" class="form-group">
                                                    <label for="id_sub_days" class="col-form-label  requiredField">
                                                        Sub days<span class="asteriskField">*</span>
                                                    </label>
                                                    <div class="">
                                                        <input type="number" name="sub_days"
                                                               class="numberinput form-control" required=""
                                                               id="id_sub_days" value="{{ form.sub_days }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <div id="div_id_paypal_email" class="form-group">
                                                    <label for="id_paypal_email" class="col-form-label  requiredField">
                                                        Paypal email<span class="asteriskField">*</span>
                                                    </label>
                                                    <div class="">
                                                        <input type="email" name="paypal_email" maxlength="300"
                                                               class="emailinput form-control" required=""
                                                               id="id_paypal_email"
                                                               value="{{ form.paypal_email }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <div id="div_id_stripe_token" class="form-group">
                                                    <label for="id_stripe_token" class="col-form-label">
                                                        Stripe publishable key
                                                    </label>
                                                    <div class="">
                                                        <input type="text" name="stripe_token" maxlength="300"
                                                               class="emailinput form-control"
                                                               id="id_stripe_token"
                                                               value="{{ form.stripe_token }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="modal-footer left-side">
                                                <button id="save_billing" type="submit" class="btn btn-success">Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                    </form>
                    <div class="col-lg-8">

                        <div class="accordion" id="accordionExample">
                            <div class="card card-border">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button"
                                                data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <i class="fa fa-arrow-down"></i>
                                            <img height="115px"
                                                 src="{% static 'images/paypal-1.png' %}"/>

                                        </button>

                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="col-lg-4">
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                {{ form_paypal.sandbox }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="div_id_message_body"
                                                         class="form-group">
                                                        <label for="id_message_body"
                                                               class="col-form-label  requiredField">
                                                            Copy this code in your website
                                                            <span class="asteriskField">*</span>
                                                        </label>
                                                        <div class="">
                                <textarea name="message_body" cols="40" rows="40"
                                          class="textarea form-control" required=""
                                          style="max-height: 350px"
                                          id="id_message_body">{{ form_paypal.sandbox }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form_stripe.token %}
                                <div class="card card-border">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                <i class="fa fa-arrow-down"></i>
                                                <img height="100px"
                                                     src="{% static 'images/logo-stripe.png' %}"/>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="modal-body">
                                            <div class="form-group">
                                                <div class="col-lg-4">
                                                    <div class="col-md-10">
                                                        <div class="form-group">

                                                                <form action="{% url 'announceusio:stripe' %}"
                                                                      method="POST">
                                                                    {% csrf_token %}
                                                                    <script
                                                                            src="https://checkout.stripe.com/checkout.js"
                                                                            class="stripe-button"
                                                                            data-key="{{ form_stripe.token }}"
                                                                            data-amount="{{ form_stripe.price }}"
                                                                            data-name="{{ form_stripe.company }}"
                                                                            data-description="{{ form_stripe.email }}"
                                                                            data-image="{% static 'images/favicon.ico' %}"
                                                                            data-locale="auto">
                                                                    </script>
                                                                </form>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="div_id_message_body"
                                                         class="form-group">
                                                        <label for="id_message_body"
                                                               class="col-form-label  requiredField">
                                                            Url for Stripe Webhooks
                                                        </label>
                                                        <div class="">
                                                            <input type="text" name="stripe_url" maxlength="300"
                                                                   class="emailinput form-control" required=""
                                                                   id="id_stripe_url"
                                                                   value="{{ form.stripe_url }}" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div id="div_id_message_body"
                                                         class="form-group">
                                                        <label for="id_message_body"
                                                               class="col-form-label  requiredField">
                                                            Copy this code in your website
                                                            <span class="asteriskField">*</span>
                                                        </label>
                                                        <div class="">
                                <textarea name="message_body" cols="40" rows="40"
                                          class="textarea form-control" required=""
                                          style="max-height: 350px"
                                          id="id_message_body"><form action="https://cookstart.io/stripe/{{ form_stripe.id_owner }}/" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
   data-key="{{ form_stripe.token }}"
   data-amount="{{ form_stripe.price }}"
   data-name="{{ form_stripe.company }}"
   data-description="{{ form_stripe.email }}"
   data-image="https://cookstart.io/static/images/favicon.ico"
   data-locale="auto">
  </script>
</form></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}

