{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{#{% load crispy_forms_tags %}#}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card demo-icons">
                    <div class="card-header">
                        <h5 class="card-title">Bot settings</h5>
                    </div>
                    <div class="col-lg-8">
                        <button id="start_bot" type="submit" class="btn btn-success">Start</button>
                        <button id="restart_bot" type="submit" class="btn btn-warning">Restart</button>
                        <button id="stop_bot" type="submit" class="btn btn-danger">Stop</button>
                    </div>
                    <form class="bot_settings" action="{% url 'announceusio:bot_settings' %}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div id="div_id_discord_channel_id" class="form-group">
                                                <label for="id_discord_channel_id"
                                                       class="col-form-label  requiredField">
                                                    Discord channel id<span class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="text" name="discord_channel_id" maxlength="255"
                                                           class="textinput textInput form-control" required=""
                                                           id="id_discord_channel_id"
                                                           value="{{ form.discord_channel_id }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div id="div_id_discord_server_id" class="form-group">

                                                <label for="id_discord_server_id"
                                                       class="col-form-label  requiredField">
                                                    Discord server id<span class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="text" name="discord_server_id"
                                                           class="textinput textInput form-control" required=""
                                                           id="id_discord_server_id"
                                                    value="{{ form.discord_server_id }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div id="div_id_bot_token" class="form-group">
                                                <label for="id_bot_token" class="col-form-label  requiredField">
                                                    Bot token<span class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="text" name="bot_token" maxlength="255"
                                                           class="textinput textInput form-control" required=""
                                                           id="id_bot_token" value="{{ form.bot_token }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div id="div_id_member_role" class="form-group">
                                                <label for="id_member_role" class="col-form-label  requiredField">
                                                    Member role<span class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="text" name="member" maxlength="255"
                                                           class="textinput textInput form-control" required=""
                                                           id="id_member_role" value="{{ form.member_role }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="save_bot_settings" type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
