{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Messages</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card card-plain">
                      <div class="card-header">
                        <h5 class="card-title">!help</h5>
                      </div>
                      <div class="card-body">
                          <div id="div_id_message_body" class="form-group">
                            <label for="id_message_body" class="col-form-label  requiredField">
                                Message body<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <textarea name="message_body" cols="40" rows="50"
                                          class="textarea form-control" required=""
                                          id="id_message_body" style="max-height: 200px">
                                        {{ form.help_message_body }}</textarea>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-plain">
                      <div class="card-header">
                        <h5 class="card-title">!activate</h5>
                      </div>
                      <div class="card-body">
                          <div class="form-group">
                            <div id="div_id_wrong_email" class="form-group">
                                <label for="id_wrong_email" class="col-form-label  requiredField">
                                    Wrong email<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="text" maxlength="300"
                                           class="form-control" required=""
                                           id="id_wrong_email" value="{{ form.wrong_email }}">
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div id="div_id_already_activated" class="form-group">
                                <label for="id_already_activated" class="col-form-label  requiredField">
                                    Already activated<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="text" maxlength="300"
                                           class="form-control" required=""
                                           id="id_already_activated" value="{{ form.already_activated }}">
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div id="div_id_activated" class="form-group">
                                <label for="id_activated" class="col-form-label  requiredField">
                                    Activated<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="text" maxlength="300"
                                           class="form-control" required=""
                                           id="id_activated" value="{{ form.activated }}">
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="card card-plain">
                      <div class="card-header">
                        <h5 class="card-title">!status</h5>
                      </div>
                      <div class="card-body">
                          <div class="form-group">
                            <div id="div_id_before_expiration" class="form-group">
                                <label for="id_before_expiration" class="col-form-label  requiredField">
                                    Before expiration<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="text" maxlength="300"
                                           class="form-control" required=""
                                           id="id_before_expiration" value="{{ form.before_expiration }}">
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div id="div_id_should_activate" class="form-group">
                                <label for="id_should_activate" class="col-form-label  requiredField">
                                    Should activate<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="text" maxlength="300"
                                           class="form-control" required=""
                                           id="id_should_activate" value="{{ form.should_activate }}">
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-plain">
                      <div class="card-header">
                        <h5 class="card-title">!renew</h5>
                      </div>
                      <div class="card-body">
                          <div class="form-group">
                            <div id="div_id_renewal_link" class="form-group">
                                <label for="id_renewal_link" class="col-form-label  requiredField">
                                    Renewal link<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="text" maxlength="300"
                                           class="form-control" required=""
                                           id="id_renewal_link" value="{{ form.renewal_link }}">
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div id="div_id_buy_membership" class="form-group">
                                <label for="id_buy_membership" class="col-form-label  requiredField">
                                     Buy membership<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="text" maxlength="300"
                                           class="form-control" required=""
                                           id="id_buy_membership" value="{{ form.buy_membership }}">
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{#        <div class="row">#}
{#          <div class="col-md-12">#}
{#            <div class="card">#}
{#              <div class="card-body">#}
{#                <div class="places-buttons">#}
{#                  <div class="row">#}
{#                    <div class="col-md-6 ml-auto mr-auto text-center">#}
{#                      <h4 class="card-title">#}
{#                        Notifications Places#}
{#                        <p class="category">Click to view notifications</p>#}
{#                      </h4>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="row">#}
{#                    <div class="col-lg-8 ml-auto mr-auto">#}
{#                      <div class="row">#}
{#                        <div class="col-md-4">#}
{#                          <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Top Left</button>#}
{#                        </div>#}
{#                        <div class="col-md-4">#}
{#                          <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Top Center</button>#}
{#                        </div>#}
{#                        <div class="col-md-4">#}
{#                          <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','right')">Top Right</button>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="row">#}
{#                    <div class="col-lg-8 ml-auto mr-auto">#}
{#                      <div class="row">#}
{#                        <div class="col-md-4">#}
{#                          <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','left')">Bottom Left</button>#}
{#                        </div>#}
{#                        <div class="col-md-4">#}
{#                          <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','center')">Bottom Center</button>#}
{#                        </div>#}
{#                        <div class="col-md-4">#}
{#                          <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','right')">Bottom Right</button>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
    </div>
{% endblock %}
