{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Members</h5>
                <p class="card-category">Handcrafted by our friends from
                  <a href="https://nucleoapp.com/?ref=1712">NucleoApp</a>
                </p>
              </div>

                      <!-- list of icons here with the proper class-->
            </div>
          </div>
        </div>
      </div>
{% endblock %}
