{% extends "dashboard_new/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

			<!-- breadcrumb-section - start
			================================================== -->
			<section id="breadcrumb-section" class="breadcrumb-section sec-plr-45 mb-50 clearfix">
				<div class="container">
					<div class="breadcrumb-content">
						<div class="row">

							<div class="col-lg-4 col-md-12 col-sm-12">
								<div class="breadcrumb-title">
									<h2 class="title-text mb-0">Messages</h2>
								</div>
							</div>

							<div class="col-lg-8 col-md-12 col-sm-12">
								<div class="btns-group ul-li-right clearfix">
									<ul class="clearfix">
										<li><a href="#!" id="restart_bot_message" class="custom-btn-bordered bg-gradient-purple"><span>Restart Bot</span></a></li>
										<li><a href="#!" id="save_message_settings" class="custom-btn bg-gradient-purple">Save Changes</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- breadcrumb-section - end
			================================================== -->





			<!-- compos-section - start
			================================================== -->
			<section id="compos-section" class="compos-section sec-plr-45 clearfix">
				<div class="container">
					<form action="#">

						<div class="mb-50">
							<div class="row">
								<div class="col-lg-8 col-md-12">
									<div class="compos-item messages-form">
										<h3 class="form-title mb-50">Join Message</h3>
										<span class="textarea-title">Message Body:</span>
										<textarea id="id_join_message" placeholder="Type Your Message">{{ form.join_message }}</textarea>
									</div>
								</div>

								<div class="col-lg-4 col-md-12">
									<div class="compos-item support-form">
										<h3 class="form-title mb-50">!Help</h3>
										<span class="textarea-title">Message Body:</span>
										<textarea id="id_message_body" placeholder="Type Your Message">{{ form.help_message_body }}</textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="mb-50">
							<div class="row">
								<div class="col-lg-4 col-md-12 col-sm-12">
									<div class="compos-item activate-form">
										<h3 class="form-title mb-50">!Activate</h3>
										<div class="form-item">
											<span class="form-label">Wrong Email</span>
											<input id="id_wrong_email" type="text" value="{{ form.wrong_email }}">
										</div>
										<div class="form-item">
											<span class="form-label">Already Activate</span>
											<input id="id_already_activated" type="text" value="{{ form.already_activated }}">
										</div>
										<div class="form-item">
											<span class="form-label">Activated</span>
											<input id="id_activated" type="text" value="{{ form.activated }}">
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-12 col-sm-12">
									<div class="compos-item Status-form">
										<h3 class="form-title mb-50">!Status</h3>
										<div class="form-item">
											<span class="form-label">Before Expiration</span>
											<input type="text" id="id_before_expiration" value="{{ form.before_expiration }}">
										</div>
										<div class="form-item">
											<span class="form-label">Should Activate</span>
											<input type="text" id="id_should_activate" value="{{ form.should_activate }}">
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-12 col-sm-12">
									<div class="compos-item activate-form">
										<h3 class="form-title mb-50">!Renew</h3>
										<div class="form-item">
											<span class="form-label">Renewal Link</span>
											<input type="text" id="id_renewal_link" value="{{ form.renewal_link }}">
										</div>
										<div class="form-item">
											<span class="form-label">Buy Membership</span>
											<input type="text" id="id_buy_membership" value="{{ form.buy_membership }}">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="compos-item reminders-form">
							<h3 class="form-title mb-50">!Reminders</h3>
							<div class="form-item">
								<span class="form-label">First Reminder</span>
								<input type="text" id="id_first_reminder" value="{{ form.first_reminder }}">
							</div>
							<div class="form-item">
								<span class="form-label">Second Reminder</span>
								<input type="text" id="id_second_reminder" value="{{ form.second_reminder }}">
							</div>
							<div class="form-item">
								<span class="form-label">Final Reminder</span>
								<input type="text" id="id_finely_reminder" value="{{ form.finely_reminder }}">
							</div>
							<div class="form-item">
								<span class="form-label">Expired Reminder</span>
								<input type="text" id="id_expired_reminder" value="{{ form.expired_reminder }}">
							</div>
						</div>

					</form>
				</div>
			</section>
			<!-- compos-section - end
			================================================== -->

{% endblock %}
