{% extends "dashboard_new/dashboard_base.html" %}
{% load static %}
{#{% load crispy_forms_tags %}#}
{% block content %}

			<!-- settings-section - start
			================================================== -->
			<section id="settings-section" class="settings-section sec-plr-45 clearfix">
				<div class="container">
					<form action="{% url 'announceusio:bot_settings' %}" class="bot_settings" method="post">{% csrf_token %}
						<div class="form-settings">

							<div id="breadcrumb-section" class="breadcrumb-section clearfix">
								<div class="breadcrumb-content">
									<div class="row">

										<div class="col-lg-4">
											<div class="breadcrumb-title">
												<h2 class="title-text mb-0">Bot Settings</h2>
											</div>
										</div>

										<div class="col-lg-8">
											<div class="btns-group ul-li-right clearfix">
												<ul class="clearfix">
													<li><a href="#!" id="start_bot" class="custom-btn bg-gradient-past">Start Bot</a></li>
													<li><a href="#!" id="restart_bot" class="custom-btn-bordered bg-gradient-purple"><span>Restart Bot</span></a></li>
													<li><a href="#!" id="stop_bot" class="custom-btn bg-gradient-pink">Stop Bot</a></li>
												</ul>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="form-item">
								<span class="form-label">Discord Channel ID</span>
								<input type="text" id="id_discord_channel_id" name="discord_channel_id" value="{{ form.discord_channel_id }}" >
							</div>
							<div class="form-item">
								<span class="form-label">Discord Server ID</span>
								<input type="text" id="id_discord_server_id" name="discord_server_id" value="{{ form.discord_server_id }}">
							</div>
							<div class="form-item">
								<span class="form-label">Bot Token</span>
								<input type="text" id="id_bot_token" name="bot_token" value="{{ form.bot_token }}">
							</div>
							<div class="form-item">
								<span class="form-label">Member Role</span>
								<input type="text" id="id_member_role" value="{{ form.member_role }}">
							</div>
							<div class="save-btn text-center clearfix">
								<button type="submit" id="save_bot_settings" name="member_role" class="custom-btn bg-gradient-purple">save info</button>
							</div>

						</div>
					</form>
				</div>
			</section>
			<!-- settings-section - end
			================================================== -->

{% endblock %}