{% extends "dashboard_new/dashboard_base.html" %}
{% load static %}
{% block content %}
<link rel="shortcut icon" href="{% static 'assets_new/images/logo/favourite-icon.png' %}">


			<!-- counter-section - start
			================================================== -->
			<div id="counter-section" class="counter-section sec-plr-45 mb-50 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="counter-item clearfix">
								<div class="item-icon"><i class="fas fa-user-circle"></i></div>
								<div class="item-content text-center">
									<span class="item-title">Active Members</span>
									<h3><small class="counter-text">{{ members_active }}</small></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="counter-item clearfix">
								<div class="item-icon"><i class="fas fa-users"></i></div>
								<div class="item-content text-center">
									<span class="item-title">Total Members</span>
									<h3><small class="counter-text">{{ members_all }}</small></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="counter-item clearfix">
								<div class="item-icon"><i class="fab fa-paypal"></i></div>
								<div class="item-content text-center">
									<span class="item-title">Paypal Income</span>
									<h3>${{ total_income.mc_gross__sum }}</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="counter-item clearfix">
								<div class="item-icon"><i class="fab fa-stripe-s"></i></div>
								<div class="item-content text-center">
									<span class="item-title">Stripe Income</span>
									<h3>${{ total_income_stripe }}</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- counter-section - end
			================================================== -->





			<!-- status-section - start
			================================================== -->
			<section id="status-section" class="status-section sec-plr-45 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="boost-status clearfix">
								<div class="item-icon">
									<i class="fas fa-robot"></i>
								</div>
								<div class="item-content">
									<span class="sub-title">Bot Status</span>
                                    {% if status == 'running' %}
                                        <h3 class="big-title">online</h3>
                                    {% else %}
                                        <h3 class="big-title">offline</h3>
                                    {% endif %}
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="members-table text-center">
								<h2 class="table-title">Latest Members</h2>
								<table id="latest_member" class="table mb-0">
									<thead>
										<tr>
											<th scope="col">Username</th>
											<th scope="col">Expiration Date</th>
										</tr>
									</thead>
									<tbody>
                                    {% for member in members %}
                                        {% if member.discord_username != member.email %}
                                            <tr style="max-height: 10px !important;">
                                                <td>{{ member.discord_username }}</td>
                                                <td>{{ member.date }}</td>
										    </tr>
                                        {% endif %}
                                    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- status-section - end
			================================================== -->

{% endblock %}