{% extends "dashboard_new/dashboard_base.html" %}
{% load static %}
{% block content %}

			<!-- counter-section - start
			================================================== -->
			<div id="counter-section" class="counter-section sec-plr-45 mb-50 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="counter-item clearfix">
								<div class="item-icon"><i class="fas fa-user-circle"></i></div>
								<div class="item-content text-center">
									<span class="item-title">Active Members</span>
									<h3><small class="counter-text">1</small></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="counter-item clearfix">
								<div class="item-icon"><i class="fas fa-users"></i></div>
								<div class="item-content text-center">
									<span class="item-title">Total Members</span>
									<h3><small class="counter-text">1</small></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="counter-item clearfix">
								<div class="item-icon"><i class="fab fa-paypal"></i></div>
								<div class="item-content text-center">
									<span class="item-title">Paypal Income</span>
									<h3>$<small class="counter-text">100</small></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="counter-item clearfix">
								<div class="item-icon"><i class="fab fa-stripe-s"></i></div>
								<div class="item-content text-center">
									<span class="item-title">Stripe Income</span>
									<h3>$<small class="counter-text">100</small></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- counter-section - end
			================================================== -->





			<!-- status-section - start
			================================================== -->
			<section id="status-section" class="status-section sec-plr-45 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="boost-status clearfix">
								<div class="item-icon">
									<i class="fas fa-robot"></i>
								</div>
								<div class="item-content">
									<span class="sub-title">Bot Status</span>
									<h3 class="big-title">online</h3>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="members-table text-center">
								<h2 class="table-title">Latest Members</h2>
								<table class="table mb-0">
									<thead>
										<tr>
											<th scope="col">Member Name</th>
											<th scope="col">Username</th>
											<th scope="col">Expiration Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Ryan Chung</td>
											<td>r_chung</td>
											<td>09/22</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- status-section - end
			================================================== -->

{% endblock %}