{% extends "dashboard_new/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

			<!-- settings-section - start
			================================================== -->
			<section id="settings-section" class="settings-section sec-plr-45 clearfix">
				<div class="container">
					<form class="email_settings" action="{% url 'announceusio:email_settings' %}">

						<div class="form-settings">
							<h2 class="form-title">Email Settings</h2>
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="form-item">
										<span class="form-label">Email</span>
										<input type="email" name="email" id="id_email" value="{{ form.email }}">
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="form-item">
										<span class="form-label">Password</span>
										<input type="password" name="email_password" id="id_email_password" value="{{ form.email_password }}">
									</div>
								</div>
							</div>
							<div class="form-item">
								<span class="form-label">Subject</span>
								<input name="message_body" type="text" id="id_email_subject" value="{{ form.email_subject }}">
							</div>
							<div class="form-textarea">
								<span class="form-label">Message Body</span>
								<textarea name="message_body" id="id_message_body">{{ form.message_body }}</textarea>
							</div>
							<div class="save-btn text-center clearfix">
								<button id="save_email_settings" type="submit" class="custom-btn bg-gradient-purple">save info</button>
							</div>
						</div>

					</form>
				</div>
			</section>
			<!-- settings-section - end
			================================================== -->


{% endblock %}
