{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>CookStart - Login</title>
        <link rel="shortcut icon" href="{% static 'assets_new/images/logo/favourite-icon.png' %}">

		<!-- fraimwork - css include -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets_new/css/bootstrap.min.css' %}">

		<!-- icon - css include -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets_new/css/fontawesome-all.css' %}">

		<!-- popup - css include -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets_new/css/magnific-popup.css' %}">

		<!-- custom - css include -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets_new/css/style.css' %}">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">


{#		<link rel="shortcut icon" href="assets/images/logo/favourite-icon.png">#}
{##}
{#		<!-- fraimwork - css include -->#}
{#		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">#}
{##}
{#		<!-- icon - css include -->#}
{#		<link rel="stylesheet" type="text/css" href="assets/css/fontawesome-all.css">#}
{##}
{#		<!-- popup - css include -->#}
{#		<link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">#}
{##}
{#		<!-- custom - css include -->#}
{#		<link rel="stylesheet" type="text/css" href="assets/css/style.css">#}

	</head>


	<body class="index-page">





		<!-- login-section - start
		================================================== -->
		<section id="login-section" class="login-section clearfix">

			<div class="item-container">
				<div class="login-form">
					<h2 class="form-title">Welcome Back!</h2>
					<form class="form-signin" action="" method="post"> {% csrf_token %}
						<div class="login-item">
							<input id="id_username" maxlength="254" type="text" name="{{ form.username.name }}">
							<label for="login-username">Username</label>
						</div>
						<div class="login-item">
							<input name="{{ form.password.name }}" autofocus required id="id_password" type="password">
							<label for="login-password">Password</label>
						</div>
						<div class="helper-content mb-30">
							<div class="row">
{#								<div class="col-lg-6 col-md-6 col-sm-12">#}
{#									<div class="remember-item">#}
{#										<input type="checkbox" id="remember-me">#}
{#										<label for="remember-me">Remember Me</label>#}
{#									</div>#}
{#								</div>#}
{#								<div class="col-lg-6 col-md-6 col-sm-12">#}
{#									<div class="forgot-password text-right">#}
{#										<a href="#!">Forgot Password?</a>#}
{#									</div>#}
{#								</div>#}
							</div>
						</div>
						<div class="btns-group ul-li clearfix">
							<ul class="clearfix">
                                <li>
                                    <button type="submit" class="custom-btn bg-gradient-purple">Login</button>
                                </li>
{#								<li><a href="#!" class="custom-btn bg-gradient-purple">Login</a></li>#}
								<li><a href="https://discord.gg/vFFv9wg" class="custom-btn-bordered bg-gradient-purple"><span>Discord</span></a></li>
							</ul>
						</div>
					</form>
					<div class="footer-content text-center">
						<div class="brand-logo mb-30">
							<a href="#!" class="brand-link">
								<img src="{% static 'assets_new/images/logo/logo-1.png' %}" alt="Logo_not_found">
							</a>
						</div>
						<p class="mb-0">Copyright © CookStart.io All Right Reserved</p>
					</div>
				</div>
			</div>

			<div class="item-container">
				<div class="phone-image">
					<img src="{% static 'assets_new/images/phone-image.png' %}" alt="Image_not_found">
				</div>
			</div>
					
		</section>
		<!-- login-section - end
		================================================== -->





        <!-- fraimwork - jquery include -->
		<script src="{% static 'assets_new/js/jquery-1.12.4.min.js' %}"></script>
		<script src="{% static 'assets_new/js/popper.min.js' %}"></script>
		<script src="{% static 'assets_new/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/datatable/datatables.min.js' %}"></script>

        <script src="{% static 'js/bootstrap-confirmation.min.js' %}"></script>
        <script src="{% static 'js/datatable/dataTables.select.js' %}"></script>
        <script src="{% static 'js/datatable/dataTables.checkboxes.js' %}"></script>

		<!-- sidebar menu - jquery include -->
		<script src="{% static 'assets_new/js/mCustomScrollbar.js' %}"></script>

		<!-- popup - jquery include -->
		<script src="{% static 'assets_new/js/magnific-popup.min.js' %}"></script>

		<!-- counter up - jquery include -->
		<script src="{% static 'assets_new/js/counterup.min.js' %}"></script>
		<script src="{% static 'assets_new/js/waypoints.min.js' %}"></script>

		<!-- google map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhrdEzlfpnsnfq4MgU1e1CCsrvVx2d59s"></script>
        <script src="{% static 'assets_new/js/gmaps.js' %}"></script>

		<!-- custom - jquery include -->
		<script src="{% static 'assets_new/js/custom.js' %}"></script>

        {#		<!-- fraimwork - jquery include -->#}
{#		<script src="assets/js/jquery-1.12.4.min.js"></script>#}
{#		<script src="assets/js/popper.min.js"></script>#}
{#		<script src="assets/js/bootstrap.min.js"></script>#}
{##}
{#		<!-- sidebar menu - jquery include -->#}
{#		<script src="assets/js/mCustomScrollbar.js"></script>#}
{##}
{#		<!-- popup - jquery include -->#}
{#		<script src="assets/js/magnific-popup.min.js"></script>#}
{##}
{#		<!-- counter up - jquery include -->#}
{#		<script src="assets/js/counterup.min.js"></script>#}
{#		<script src="assets/js/waypoints.min.js"></script>#}
{##}
{#		<!-- google map -->#}
{#        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhrdEzlfpnsnfq4MgU1e1CCsrvVx2d59s"></script>#}
{#        <script src="assets/js/gmaps.js"></script>#}
{##}
{#		<!-- custom - jquery include -->#}
{#		<script src="assets/js/custom.js"></script>#}





	</body>
</html>