{% extends "dashboard_new/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

			<!-- members-table-section - start
			================================================== -->
			<section id="members-table-section" class="members-table-section sec-plr-45 clearfix">
				<div class="container">
					<div class="members-board" style="height: inherit;">

						<div class="top-bar mb-50">
							<div class="row">

								<div class="col-lg-4 col-md-12 col-sm-12">
									<h2 class="board-title mb-0">PayPal IPN</h2>
								</div>

{#								<div class="col-lg-8 col-md-12 col-sm-12">#}
{#									<div class="topbar-items-list ul-li-right">#}
{#										<ul class="clearfix">#}
{#											<li>#}
{#												<div class="search-bar">#}
{#													<form action="#">#}
{#														<input type="search" placeholder="search">#}
{#													</form>#}
{#												</div>#}
{#											</li>#}
{#											<li>#}
{#												<div class="select-options">#}
{#													Show#}
{#													<select>#}
{#														<option selected>X</option>#}
{#														<option value="1">Y</option>#}
{#														<option value="2">Z</option>#}
{#													</select>#}
{#													Entris#}
{#												</div>#}
{#											</li>#}
{#										</ul>#}
{#									</div>#}
{#								</div>#}

							</div>
						</div>

						<div class="members-table">
							<table id="table_paypal" class="table text-center mb-0">
								<thead>
									<tr>
                                        <th></th>
										<th scope="col">Unicode</th>
										<th scope="col">Flag</th>
										<th scope="col">Flag Info</th>
										<th scope="col">Invoice</th>
										<th scope="col">Custom</th>
										<th scope="col">Payment Status</th>
										<th scope="col">Created At</th>
                                        <th></th>
                                        <th>
                                            <button data-toggle="confirmation" class="btn btn-danger btn-sm delete pull-right">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>

{#						<div class="pagination ul-li-center clearfix">#}
{#							<ul class="clearfix">#}
{#								<li><a href="#!"><i class="fas fa-caret-left"></i></a></li>#}
{#								<li><a href="#!">1</a></li>#}
{#								<li class="active"><a href="#!">2</a></li>#}
{#								<li><a href="#!">3</a></li>#}
{#								<li><a href="#!">4</a></li>#}
{#								<li><a href="#!"><i class="fas fa-caret-right"></i></a></li>#}
{#							</ul>#}
{#						</div>#}

					</div>
				</div>
			</section>
			<!-- members-table-section - end
			================================================== -->


{% endblock %}