{% extends "dashboard_new/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

			<!-- settings-section - start
			================================================== -->
			<section id="settings-section" class="settings-section sec-plr-45 clearfix">
				<div class="container">
					<form class="user_profile" action="" method="post">
                            {% csrf_token %}
						<div class="row">

							<div class="col-lg-8 col-md-12 col-sm-12">
								<div class="form-settings">
									<h2 class="form-title">Hello {{ request.user_name }},</h2>
									<div class="form-item">
										<span class="form-label">Company Name</span>
										<input type="text" id="company" value="{{ form.company }}">
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-12 col-sm-12">
											<div class="form-item">
												<span class="form-label">Username</span>
												<input type="text" value="{{ form.username }}" disabled="">
											</div>
										</div>
										<div class="col-lg-6 col-md-12 col-sm-12">
											<div class="form-item">
												<span class="form-label">Email Address</span>
												<input type="email" id="user_email" value="{{ form.email }}">
											</div>
										</div>
										<div class="col-lg-6 col-md-12 col-sm-12">
											<div class="form-item">
												<span class="form-label">First Name</span>
												<input type="text" id="first_name" value="{{ form.first_name }}">
											</div>
										</div>
										<div class="col-lg-6 col-md-12 col-sm-12">
											<div class="form-item">
												<span class="form-label">Last Name</span>
												<input type="text" id="last_name" value="{{ form.last_name }}">
											</div>
										</div>
									</div>
									<div class="save-btn text-center clearfix">
										<button type="submit" class="custom-btn bg-gradient-purple">save info</button>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
			</section>
			<!-- settings-section - end
			================================================== -->

{% endblock %}